[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = none

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none
